<p id="notice"><%= notice %></p>

<h1>Cadastro de Empresas</h1>

<table>
  <thead>
    <tr>
      <th>CIN</th>
      <th>Nome da Empresa</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cins.each do |cin| %>
      <tr>
        <td><%= cin.code %></td>
        <td><%= cin.description %></td>
        <td><%= cin.status %></td>
        <td><%= link_to 'Show', cin %></td>
        <td><%= link_to 'Edit', edit_cin_path(cin) %></td>
        <td><%= link_to 'Destroy', cin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cin', new_cin_path %>
