<h1>Cadastro</h1>


<p id="notice"><%= notice %></p>

<p>
  <strong>CIN:</strong>
  <%= @cin.code %>
</p>

<p>
  <strong>Nome da Empresa:</strong>
  <%= @cin.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @cin.status %>
</p>

<%= link_to 'Edit', edit_cin_path(@cin) %> |
<%= link_to 'Back', cins_path %>
